@model CashLady.Mvc.WebApp.Models.AddressDetailsModel
@{
    ViewBag.Title = "AddressDetails";
}

<div class="form-group">
    @Html.LabelFor(m => m.Address1, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
    </div>
</div>
<p></p>
<div class="form-group">
    @Html.LabelFor(m => m.Address2, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Address3, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Address3, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Address4, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Address4, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Address5, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Address5, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" value="Register" />
    </div>
</div>

    
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            alert("test");
            return false; // prevent default
        });
    });

    $('#btnSubmit').click(function () {
        alert("test");
        return false; // prevent default
    });

</script>